{% extends "base.html" %}
{% block content %}
    <h2>Minha Casa</h2>
    <ul>
        <li><a href="/registrar_usuario">Registrar Usuário</a></li>
        <li><a href="/registrar_sensor">Registrar Sensor</a></li>
        <li><a href="/registrar_atuador">Registrar Atuador</a></li>
        <li><a href="/listar_usuarios">Listar Usuários</a></li>
        <li><a href="/listar_sensores">Listar Sensores</a></li>
        <li><a href="/listar_atuadores">Listar Atuadores</a></li>
        <li><a href="/remover_usuario">Remover Usuário</a></li>
        <li><a href="/remover_sensor">Remover Sensor</a></li>
        <li><a href="/remover_atuador">Remover Atuador</a></li>
        <li><a href="/logout">Sair</a></li>
        <li><a href="/protected">Teste</a></li>


    </ul>    
{% endblock %}